body {
  background: #d6d6d6;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

fieldset {
  margin: 10px;
  border: 1px solid #ffffff;
}

.jusify-area {
  display: flex;
  /* justify-content: center; */
}

.jusify-area img {
  border: 1px solid #c7c4c4;
}
.css-selector{
  margin-left: 15px;
}
.css-prop{
  margin: 0;
}


form {
  display: flex;
}
.css-prop,
label {
  padding: 5px 10px;
  margin-left: 30px;
}
select {
  appearance: none;
  border: 1px solid #fff;
  outline: 0;
  font: inherit;
  width: 10em;
  height: 2em;
  padding: 0 1em;
  color: #000000;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: #d6d6d6;

}


select option {
  background-color: #d6d6d6;
}

option:focus {
  outline: none;
}

option::-ms-expand {
  display: none;
}